html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.card{
    display:flex;
    width:100%;
/*    height: 400px;
*/}
.cart-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
}
.card-text-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-break: break-word;
}
.cart-bottom {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top:auto;
}
